* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    background: #fff;
    color: #003cff;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav ul li a {
    color: #000000;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
    color: #003cff;
}

.Login_button{
    background-color: #003cff;
    color: #fff;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    border-radius: 3px;
    font-family: serif;
    border: 1px solid #003cff;

}

.Login_button:hover{
    background-color: #fff;
    color: #003cff;
    margin-top: 100px;
}
.heading{
    background-color: rgb(98, 0, 255);
    color: #fff;
    padding: 100px;
    font-size: 30px;
    font-family: sans-serif;

}

.span_lwenza{
    font-weight: 900;
    justify-content: center;

}
.span_lwenza:hover{
    color: #000000;
    text-decoration: underline;
}
.header2{
    padding: 100px;
    border-radius: 10px;
}

.about_us{
    padding: 100px;

}

.about_img{
    background-image: url(our\ student\ A\ level.webp) ;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1200px;
    color: #ffff;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid #003cff;
    border-radius: 5px;
}

h3{
    padding: 20px;
    font-size: 30px;
    text-align: center;

}
.About_paragraph{
    padding: 40px;
    font-size: 20px;
}

.About_paragraph:hover{
 background-color: #003cff;
 color: #fff;
}
.Learn_button{
    background-color: #003cff;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-family: monospace;
    border: 1px solid #000000;
}
.Learn_button:hover{
    background-color: #fff;
    color: #003cff;
}